body{
    background-color: grey;
    color: black;
    text-align: center;
}

.container{
    background-color: lightskyblue;
}
img{
    width: 180px;
    border-radius: 8px;
}













